{% load i18n static admin_material %}

<aside style="z-index: 1;" class="sidenav navbar navbar-vertical navbar-expand-xs border-radius-lg fixed-start ms-2 bg-white my-2" id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-dark opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
           aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand px-4 py-3 m-0" href="{% url 'core:dashboard' %}">
            <img src="{{ brand_preferences.logo_url }}" class="navbar-brand-img" width="26" height="26" alt="{{ brand_preferences.brand_name }}">
            <span class="ms-1 text-sm text-dark">{{ brand_preferences.brand_name }}</span>
        </a>
    </div>

    <hr class="horizontal dark mt-0 mb-2">

    <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">

            {# ========= DASHBOARD ========= #}
            <li class="nav-item">
                <a class="nav-link text-dark {% if segment == 'dashboard' or request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
                   href="{% url 'core:dashboard' %}">
                    <i class="material-symbols-rounded opacity-5">space_dashboard</i>
                    <span class="nav-link-text ms-1">Dashboard</span>
                </a>
            </li>

            {# ========= CLIENTES ========= #}
            <li class="nav-item">
                <a class="nav-link text-dark {% if segment == 'members_list' or segment == 'member_add' %}active{% endif %}"
                   data-bs-toggle="collapse" href="#menu-clientes" role="button"
                   aria-expanded="false" aria-controls="menu-clientes">
                    <i class="material-symbols-rounded opacity-5">groups</i>
                    <span class="nav-link-text ms-2 ps-1">Clientes</span>
                </a>
                <div class="collapse {% if segment == 'members_list' or segment == 'member_add' %}show{% endif %}" id="menu-clientes">
                    <ul class="nav ms-4">
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'members_list' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:member_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">list</i>
                                <span class="sidenav-normal ms-2 ps-1"> Lista de Membros </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'member_add' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:add_member' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">person_add</i>
                                <span class="sidenav-normal ms-2 ps-1"> Adicionar Membros </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            {# ========= EMPRÉSTIMOS ========= #}
            <li class="nav-item">
                <a class="nav-link text-dark
                   {% if segment == 'loans_new' or segment == 'loans_active' or segment == 'loans_pending' or segment == 'loans_all' or segment == 'loan_types' %}active{% endif %}"
                   data-bs-toggle="collapse" href="#menu-emprestimos" role="button"
                   aria-expanded="false" aria-controls="menu-emprestimos">
                    <i class="material-symbols-rounded opacity-5">request_quote</i>
                    <span class="nav-link-text ms-2 ps-1">Empréstimos</span>
                </a>
                <div class="collapse
                    {% if segment == 'loans_new' or segment == 'loans_active' or segment == 'loans_pending' or segment == 'loans_all' or segment == 'loan_types' %}show{% endif %}"
                     id="menu-emprestimos">
                    <ul class="nav ms-4">
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'loans_new' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:new_loan' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">add_circle</i>
                                <span class="sidenav-normal ms-2 ps-1"> Novo Empréstimo </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'loans_active' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:active_loans_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">check_circle</i>
                                <span class="sidenav-normal ms-2 ps-1"> Empréstimos Activos </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'loans_pending' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:pending_loans' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">pending</i>
                                <span class="sidenav-normal ms-2 ps-1"> Empréstimos Pendentes </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'loans_all' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:loan_list_all' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">view_list</i>
                                <span class="sidenav-normal ms-2 ps-1"> Todos os Empréstimos </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'loan_types' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:loan_type_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">category</i>
                                <span class="sidenav-normal ms-2 ps-1"> Tipos de Empréstimos </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            {# ========= PAGAMENTOS ========= #}
            <li class="nav-item">
                <a class="nav-link text-dark
                   {% if segment == 'loan_disbursements' or segment == 'loan_repayments' %}active{% endif %}"
                   data-bs-toggle="collapse" href="#menu-pagamentos" role="button"
                   aria-expanded="false" aria-controls="menu-pagamentos">
                    <i class="material-symbols-rounded opacity-5">payments</i>
                    <span class="nav-link-text ms-2 ps-1">Pagamentos</span>
                </a>
                <div class="collapse
                    {% if segment == 'loan_disbursements' or segment == 'loan_repayments' %}show{% endif %}"
                     id="menu-pagamentos">
                    <ul class="nav ms-4">
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'loan_disbursements' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:loan_disbursement_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">upload</i>
                                <span class="sidenav-normal ms-2 ps-1"> Desembolso</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'loan_repayments' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:loan_repayment_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">download</i>
                                <span class="sidenav-normal ms-2 ps-1"> Reembolso</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            {# ========= CONTAS ========= #}
            <li class="nav-item">
                <a class="nav-link text-dark
                   {% if segment == 'client_accounts' or segment == 'company_accounts' or segment == 'account_types' %}active{% endif %}"
                   data-bs-toggle="collapse" href="#menu-contas" role="button"
                   aria-expanded="false" aria-controls="menu-contas">
                    <i class="material-symbols-rounded opacity-5">account_balance_wallet</i>
                    <span class="nav-link-text ms-2 ps-1">Contas</span>
                </a>
                <div class="collapse
                    {% if segment == 'client_accounts' or segment == 'company_accounts' or segment == 'account_types' %}show{% endif %}"
                     id="menu-contas">
                    <ul class="nav ms-4">
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'client_accounts' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:client_account_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">account_circle</i>
                                <span class="sidenav-normal ms-2 ps-1"> Conta dos Clientes </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'company_accounts' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:company_account_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">business</i>
                                <span class="sidenav-normal ms-2 ps-1"> Conta da Empresa </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'account_types' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:account_type_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">category</i>
                                <span class="sidenav-normal ms-2 ps-1"> Tipos de Contas </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            {# ========= JUROS ========= #}
            <li class="nav-item">
                <a class="nav-link text-dark
                   {% if segment == 'interest_calculator' or segment == 'interest_types' %}active{% endif %}"
                   data-bs-toggle="collapse" href="#menu-juros" role="button"
                   aria-expanded="false" aria-controls="menu-juros">
                    <i class="material-symbols-rounded opacity-5">percent</i>
                    <span class="nav-link-text ms-2 ps-1">Juros</span>
                </a>
                <div class="collapse
                    {% if segment == 'interest_calculator' or segment == 'interest_types' %}show{% endif %}"
                     id="menu-juros">
                    <ul class="nav ms-4">
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'interest_calculator' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:interest_calculator' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">calculate</i>
                                <span class="sidenav-normal ms-2 ps-1"> Cálculo de Juros </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'interest_types' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:interest_type_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">category</i>
                                <span class="sidenav-normal ms-2 ps-1"> Tipos de Juros </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            {# ========= TRANSAÇÕES ========= #}
            <li class="nav-item">
                <a class="nav-link text-dark {% if segment == 'transactions' %}active{% endif %}"
                   data-bs-toggle="collapse" href="#menu-transaccoes" role="button"
                   aria-expanded="false" aria-controls="menu-transaccoes">
                    <i class="material-symbols-rounded opacity-5">swap_horiz</i>
                    <span class="nav-link-text ms-2 ps-1">Transacções</span>
                </a>
                <div class="collapse {% if segment == 'transactions' %}show{% endif %}" id="menu-transaccoes">
                    <ul class="nav ms-4">
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'transactions' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:transaction_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">history</i>
                                <span class="sidenav-normal ms-2 ps-1"> Histórico </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            {# ========= DESPESAS & RENDIMENTOS ========= #}
            <li class="nav-item">
                <a class="nav-link text-dark
                   {% if segment == 'expenses' or segment == 'incomes' or segment == 'expense_categories' or segment == 'income_categories' %}active{% endif %}"
                   data-bs-toggle="collapse" href="#menu-despesas" role="button"
                   aria-expanded="false" aria-controls="menu-despesas">
                    <i class="material-symbols-rounded opacity-5">receipt_long</i>
                    <span class="nav-link-text ms-2 ps-1">Despesas & Rendimentos</span>
                </a>
                <div class="collapse
                    {% if segment == 'expenses' or segment == 'incomes' or segment == 'expense_categories' or segment == 'income_categories' %}show{% endif %}"
                     id="menu-despesas">
                    <ul class="nav ms-4">
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'expenses' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:expense_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">remove_circle</i>
                                <span class="sidenav-normal ms-2 ps-1"> Despesas </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'incomes' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:income_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">add_circle</i>
                                <span class="sidenav-normal ms-2 ps-1"> Rendimentos </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'expense_categories' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:expense_category_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">folder</i>
                                <span class="sidenav-normal ms-2 ps-1"> Categoria de Despesas </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'income_categories' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:income_category_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">folder_open</i>
                                <span class="sidenav-normal ms-2 ps-1"> Categoria de Rendimentos </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            {# ========= LEASING DE VEÍCULOS ========= #}
            <li class="nav-item">
                <a class="nav-link text-dark
                {% if segment == 'vehicle_lease_fleet' or segment == 'vehicle_lease_contracts' or segment == 'vehicle_lease_payments' %}active{% endif %}"
                data-bs-toggle="collapse" href="#menu-leasing" role="button"
                aria-expanded="false" aria-controls="menu-leasing">
                    <i class="material-symbols-rounded opacity-5">directions_car</i>
                    <span class="nav-link-text ms-2 ps-1">Leasing de Veículos</span>
                </a>
                <div class="collapse
                    {% if segment == 'vehicle_lease_fleet' or segment == 'vehicle_lease_contracts' or segment == 'vehicle_lease_payments' %}show{% endif %}"
                    id="menu-leasing">
                    <ul class="nav ms-4">

                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'vehicle_lease_payments' %}active fw-bold text-primary{% endif %}"
                            href="{% url 'core:vehicle_lease_payment_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">credit_score</i>
                                <span class="sidenav-normal ms-2 ps-1"> Pagamentos </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'vehicle_lease_fleet' %}active fw-bold text-primary{% endif %}"
                            href="{% url 'core:leased_vehicle_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">garage</i>
                                <span class="sidenav-normal ms-2 ps-1"> Frota</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'vehicle_lease_contracts' %}active fw-bold text-primary{% endif %}"
                            href="{% url 'core:vehicle_lease_contract_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">description</i>
                                <span class="sidenav-normal ms-2 ps-1"> Contratos</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>


            {# ========= UTILIZADORES ========= #}
            <li class="nav-item">
                <a class="nav-link text-dark
                {% if segment == 'users' or segment == 'user_permissions' %}active{% endif %}"
                data-bs-toggle="collapse" href="#menu-utilizadores" role="button"
                aria-expanded="false" aria-controls="menu-utilizadores">
                    <i class="material-symbols-rounded opacity-5">manage_accounts</i>
                    <span class="nav-link-text ms-2 ps-1">Utilizadores</span>
                </a>
                <div class="collapse
                    {% if segment == 'users' or segment == 'user_permissions' %}show{% endif %}"
                    id="menu-utilizadores">
                    <ul class="nav ms-4">
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'users' %}active fw-bold text-primary{% endif %}"
                            href="{% url 'core:user_list' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">people</i>
                                <span class="sidenav-normal ms-2 ps-1"> Todos os Utilizadores </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            {# ========= PREFERÊNCIAS ========= #}
            <li class="nav-item">
                <a class="nav-link text-dark {% if segment == 'preferences' %}active{% endif %}"
                   href="{% url 'core:preferences' %}">
                    <i class="material-symbols-rounded opacity-5">settings</i>
                    <span class="nav-link-text ms-1">Preferências</span>
                </a>
            </li>

            {# ========= RELATÓRIOS ========= #}
            <li class="nav-item">
                <a class="nav-link text-dark
                   {% if segment == 'report_portfolio' or segment == 'report_risk' or segment == 'report_payments' %}active{% endif %}"
                   data-bs-toggle="collapse" href="#menu-relatorios" role="button"
                   aria-expanded="false" aria-controls="menu-relatorios">
                    <i class="material-symbols-rounded opacity-5">bar_chart</i>
                    <span class="nav-link-text ms-2 ps-1">Relatórios</span>
                </a>
                <div class="collapse
                    {% if segment == 'report_portfolio' or segment == 'report_risk' or segment == 'report_payments' %}show{% endif %}"
                     id="menu-relatorios">
                    <ul class="nav ms-4">
                        <li class="nav-item">
                            <a class="nav-link text-dark {% if segment == 'report_payments' %}active fw-bold text-primary{% endif %}"
                               href="{% url 'core:report_filters' %}">
                                <i class="material-symbols-rounded opacity-5" style="font-size: 18px;">receipt</i>
                                <span class="sidenav-normal ms-2 ps-1"> Gerar </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>

    <div class="sidenav-footer position-absolute w-100 bottom-0">
        <div class="mx-3 mb-3">
            <span class="text-xs text-muted d-block mb-1">
                {{ brand_preferences.brand_name }} — v0.1
            </span>
        </div>
    </div>
</aside>
