# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Ambiente virtual
venv/
ENV/
env/

# Django stuff
*.log
staticfiles/
local_settings.py

# Configs sensíveis
.env
*.env

# VSCode / IDE
.vscode/
.idea/
*.code-workspace

# Sistema operativo
.DS_Store
Thumbs.db

.env
.htaccess
passenger_wsgi.py
tmp/
staticfiles/
media/
stderr.log