{% load i18n static admin_material %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_direction as direction %}
{% get_admin_setting as admin_setting %}
<!DOCTYPE html>
<html lang="{{ brand_preferences.language }}">

<head>
    {% include "includes/sl_head.html" %}
    {% block extrastyle %}{% endblock extrastyle %}
    {% block extrahead %}{% endblock extrahead %}
</head>

<body class="g-sidenav-show  bg-gray-100">

  {% block sidebar %}
    {% include "includes/sl_sidebar.html" %}
  {% endblock sidebar %}

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    {% block navigation %}
      {% include "includes/sl_navigation.html" %}
    {% endblock navigation %}

    {% block content %}{% endblock content %}
  </main>
  
  {% block configurator %}

  {% endblock configurator %}

  {% include "includes/sl_scripts.html" %}

  {% block extra_js %}{% endblock extra_js %}

</body>

</html>
